body{
  width: 600px;       /*forces the body to always be 600 pixels wide*/
  margin: 0 auto;      /*first value affects the top and bottom || second value affects the side || 1 value will affect all sides*/   
  background-color: #ADFF2F;
}
main{
    display: grid;
    grid-template-columns: repeat(8, 20%);
    grid-template-rows: 0.5fr repeat(8, 10%);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}
.sprite1
{
  grid-row: 1/1;
  grid-column: 1/1;
}

.sprite2
{
  grid-row: 8/8;
  grid-column: 8/8;
}